useDynLib(HLSM)
import("MASS", "coda")
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("graphics", "layout", "par", "plot", "rect", "segments",
             "text")
importFrom("stats", "quantile", "rnorm", "sd")


export("HLSMrandomEF",
       "HLSMfixedEF",
       "plotDiagnostic",
       "plotLikelihood",
       "plotHLSM.random.fit",
       "plotHLSM.fixed.fit",
       "plotHLSM.LS",	
       "print.HLSM",
       "print.summary.HLSM",
       "summary.HLSM",
	"getBeta",
	"getIntercept",
	"getAlpha",
	"getLS",
	"getLikelihood")
       

S3method('print','HLSM')
S3method('print','summary.HLSM')
S3method('summary','HLSM')


