useDynLib(HLSM,.registration=TRUE)
import("MASS", "coda", "igraph")
importFrom("grDevices", "dev.new", "dev.off", "pdf", "palette")
importFrom("graphics", "layout", "par", "plot", "rect", "segments",
             "text", "matplot", "axis")
importFrom("methods", "is")
importFrom("abind", "abind")
importFrom("stats", "cmdscale", "quantile", "rnorm", "sd", "acf", "aggregate", "as.ts", "getCall", "setNames")



export("HLSMrandomEF",
       "HLSMfixedEF",
        "LSM",
        "HLSMplotLikelihood",
        "HLSMplot.random.fit",
        "HLSMplot.fixed.fit",
        "HLSMplot.fit.LS",	
	"getBeta",
	"getIntercept",
	"getLS",
	"getLikelihood",
        "HLSMdiag",
        "HLSMcovplots"
)
       

S3method('print','HLSM')
S3method('print','HLSMdiag')
S3method('summary','HLSM')
